# Built application files
*.apk
*.ap_  
*.aab
output-metadata.json

# Gradle build folders
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio files
.idea/
*.iml
*.iws

# Android Studio specific
captures/
.externalNativeBuild/
.cxx/

# Keystore files (secure files, private)
*.jks
*.keystore
private/

# Google Services / Firebase
google-services.json
firebase-debug.log

# Android Profiling
*.hprof

# Mac OS-specific files
.DS_Store

# Log files
*.log

# Env/Temporary files
.env
temp/

# IntelliJ-specific (if using with Android Studio)
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Miscellaneous
*.orig
*.swp
*.bak
*.tmp
*.pid

# Temporary disable files
screenshots/
*.json
api.xml
contact.html

.cache_ggshield
*.cache_ggshield